# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
.swc/

# production
/build/
/out/

# misc
.DS_Store
*.pem
*:Zone.Identifier

# debug
npm-debug.log*
.pnpm-debug.log*

# env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# documentation content (fetched during build)
/docs-versions/
