{% set class = "md-tabs" %}

<style>
  .md-tabs li {
    height: auto;
  }

  .md-tabs a {
    font-weight: bold;
  }

  .md-tabs a:hover {
    opacity: 0.6;
  }

  .md-container > .md-tabs {
    display: none;
  }
</style>

<!-- Navigation tabs -->
<nav class="{{ class }}" aria-label="{{ lang.t('tabs.title') }}">
  <div class="md-tabs__inner md-grid">
    <ul class="md-tabs__list">
      {% for nav_item in nav %}
      {% include "partials/tabs-item.html" %}
      {% endfor %}
    </ul>
  </div>
</nav>